<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Card Uploader</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addCard()">Add</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form *ngIf="cardForm" [formGroup]="cardForm">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>General Information</ion-card-title>
                        </ion-card-header>
                        <ion-list>
                            <ion-item>
                                <ion-label>Name</ion-label>
                                <input formControlName="name" type="text"/>
                            </ion-item>
                            <ion-item>
                                <ion-label>Serial #</ion-label>
                                <input formControlName="serialNumber" type="text"/>
                            </ion-item>

                            <ion-item>
                                <ion-label>Cost</ion-label>
                                <input formControlName="cost" type="number"/>
                            </ion-item>

                            <ion-item>
                                <ion-label>Power</ion-label>
                                <input formControlName="powerLevel" type="number"/>
                            </ion-item>

                            <ion-item>
                                <ion-label>Is ExBurst</ion-label>
                                <ion-toggle formControlName="isExBurst"></ion-toggle>
                            </ion-item>

                            <ion-item>
                                <ion-label>Is Multiplay</ion-label>
                                <ion-toggle formControlName="isMultiPlay"></ion-toggle>
                            </ion-item>
                        </ion-list>
                    </ion-card>

                </ion-col>
                <ion-col size="3">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>General Information</ion-card-title>
                        </ion-card-header>
                        <ion-list>
                            <ion-item>
                                <ion-label>Elements</ion-label>
                                <ion-select formControlName="elements" multiple="true"
                                            style="width: 400px; text-align: right">
                                    <ion-select-option *ngFor="let element of elements" [value]="element">
                                        {{element}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>Categories</ion-label>
                                <ion-select formControlName="cardCategories" multiple="true"
                                            style="width: 400px; text-align: right">
                                    <ion-select-option *ngFor="let category of categories" [value]="category">
                                        {{category.name}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>Jobs</ion-label>
                                <ion-select formControlName="jobs" multiple="true"
                                            style="width: 400px; text-align: right">
                                    <ion-select-option *ngFor="let job of jobs" [value]="job">
                                        {{job.name}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>Card Type</ion-label>
                                <ion-select formControlName="cardType">
                                    <ion-select-option *ngFor="let cardType of cardTypes" [value]="cardType">
                                        {{cardType}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>Card Rarity</ion-label>
                                <ion-select formControlName="rarity">
                                    <ion-select-option *ngFor="let rarity of rarities" [value]="rarity">
                                        {{rarity}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>Character Designer</ion-label>
                                <ion-select formControlName="cardCardDesignerId">
                                    <ion-select-option *ngFor="let designer of designers" [value]="designer.id">
                                        {{designer.name}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </ion-card>
                </ion-col>
                <ion-col size="3">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Effect Text</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                             <textarea formControlName="effectText" type="text"
                                       style="height: 200px; width: 100%"></textarea>
                            <h3>Use the following text ligatures to represent icons</h3>
                            <ion-grid class="fftcg-text-bold">
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-item class="fire-cp">(R) - Fire CP</ion-item>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-item class="ice-cp">(I) - Ice CP</ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-item class="wind-cp">(W) - Wind CP</ion-item>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-item class="water-cp">(Wa) - Water CP</ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-item class="earth-cp">(E) - Earth CP</ion-item>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-item class="lightning-cp">(L) - Lightning</ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-item class="dark-cp">(D) - Dark</ion-item>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-item class="light-cp">(Li) - Light</ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-item>(DULL) - Dull Icon</ion-item>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-item>(S) - Special Icon</ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>


                </ion-col>
                <ion-col size="3">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Card Image</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <input type="file" (change)="onImageChange($event)"/>
                            <img *ngIf="imageSrc" [src]="imageSrc"/>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <ion-row>
        <ion-col size="3">
            <form [formGroup]="cardCategoryForm">
                <ion-card>
                    <ion-header>
                        <ion-title>Card Category Form</ion-title>
                    </ion-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-label>Name:</ion-label>
                                <input type="text" formControlName="name"/>
                            </ion-item>

                        </ion-list>
                        <div>
                            <ion-button (click)="addCategory()" expand="full">Add</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </form>
        </ion-col>
        <ion-col size="3">
            <form [formGroup]="jobForm">
                <ion-card>
                    <ion-header>
                        <ion-title>Job Form</ion-title>
                    </ion-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-label>Name:</ion-label>
                                <input type="text" formControlName="name"/>
                            </ion-item>
                        </ion-list>
                        <div>
                            <ion-button (click)="addJob()" expand="full">Add</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </form>
        </ion-col>
        <ion-col size="3">
            <form [formGroup]="cardDesignerForm">
                <ion-card>
                    <ion-header>
                        <ion-title>Card Designer Form</ion-title>
                    </ion-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-label>Name:</ion-label>
                                <input type="text" formControlName="name"/>
                            </ion-item>
                        </ion-list>
                        <div>
                            <ion-button (click)="addCardDesigner()" expand="full">Add</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </form>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12">
            <h1>Cards</h1>
            <table mat-table [dataSource]="cardsDatasource" style="width: 100%">
                <ng-container matColumnDef="cardImage">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <img class="card" src="{{element.serialNumber | imageUrl | async}}"/>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="serialNumber">
                    <th mat-header-cell *matHeaderCellDef>Serial #</th>
                    <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="elements">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let card">
                        <span *ngFor="let element of card.elements">
                        <img class="crystal" src="../../assets/icon/crystals/{{element}}_Crystal.png"/>
                            {{element}}&nbsp;</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="rarity">
                    <th mat-header-cell *matHeaderCellDef>Rarity</th>
                    <td mat-cell *matCellDef="let element"> {{element.rarity}} </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Cost</th>
                    <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                </ng-container>

                <ng-container matColumnDef="powerLevel">
                    <th mat-header-cell *matHeaderCellDef>Power Level</th>
                    <td mat-cell *matCellDef="let element"> {{element.powerLevel}} </td>
                </ng-container>

                <ng-container matColumnDef="categories">
                    <th mat-header-cell *matHeaderCellDef>Categories</th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngFor="let item of element.cardCategories.items">{{item.category.name}}&nbsp;</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="jobs">
                    <th mat-header-cell *matHeaderCellDef>Job(s)</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.jobs.items.length > 0">
                            <span *ngFor="let item of element.jobs.items">{{item.job.name}}&nbsp;</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cardDesigner">
                    <th mat-header-cell *matHeaderCellDef>Power Level</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.cardDesigner">
                            {{element.cardDesigner.name}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="isMultiPlay">
                    <th mat-header-cell *matHeaderCellDef>Is Multi Play?</th>
                    <td mat-cell *matCellDef="let element">
                        <ion-icon *ngIf="element.isMultiPlay" name="checkmark-outline"
                                  class="ion-color-primary" size="large"></ion-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="isExBurst">
                    <th mat-header-cell *matHeaderCellDef>Is EX?</th>
                    <td mat-cell *matCellDef="let element">
                        <ion-icon *ngIf="element.isExBurst" name="checkmark-outline"
                                  class="ion-color-primary" size="large"></ion-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="ion-text-center">Actions</th>
                    <td mat-cell *matCellDef="let element" class="ion-text-center">
                        <ion-button color="danger" (click)="deleteCard(element)">Delete</ion-button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
        </ion-col>
    </ion-row>
</ion-content>
