img.card {
  width: 84px;
}

img.crystal {
  width: 16px;
}

.fire-cp {
  color: rgba(189, 93, 72, 1);
}

.earth-cp {
color: rgba(249, 214, 73, 1);
}

.wind-cp {
  color: rgba(84, 183, 120, 1);
}

.water-cp {
  color: rgba(113, 150, 207, 1);
}

.lightning-cp {
  color: rgba(169, 111, 172, 1);
}

.ice-cp {
  color: rgba(114, 196, 240, 1);
}

.dark-cp {
  color: rgba(145, 145, 145, 1);
}

.light-cp {
  color: rgba(230, 230, 230, 1);
}

.fftcg-text-bold ion-item {
  font-weight: bold;
}
