<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="filterBar.toggle()">
                <ion-icon name="menu" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Card Browser</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-drawer-container class="example-container">
        <mat-drawer #filterBar mode="over">Drawer content</mat-drawer>
        <mat-drawer-content>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Search
                    </mat-panel-title>
                    <mat-panel-description>
                        <ion-searchbar></ion-searchbar>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form name="cardFilter" [formGroup]="filterFormGroup" >
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-label>
                                    Element
                                </ion-label>
                                <ion-select placeholder="Element" multiple="true" formControlName="elements">
                                    <ion-select-option *ngFor="let element of elements"
                                                       value="element">{{element}}</ion-select-option>
                                </ion-select>
                            </ion-col>
                            <ion-col>
                                <ion-label>
                                    Job(s)
                                </ion-label>
                                <ion-select placeholder="Job(s)" multiple="true" formControlName="jobs">
                                    <ion-select-option *ngFor="let job of jobs"
                                                       [value]="job">{{job.name}}</ion-select-option>
                                </ion-select>
                            </ion-col>
                            <ion-col>
                                <ion-label>
                                    Category(s)
                                </ion-label>
                                <ion-select placeholder="Category(s)" multiple="true" formControlName="categories">
                                    <ion-select-option *ngFor="let category of categories"
                                                       [value]="category">{{category.name}}</ion-select-option>
                                </ion-select>
                            </ion-col>
                            <ion-col>
                                <ion-label>
                                    Rarity
                                </ion-label>
                                <ion-select placeholder="Card Type" multiple="true" formControlName="rarity">
                                    <ion-select-option *ngFor="let rarity of rarities"
                                                       [value]="rarity">{{rarity}}</ion-select-option>
                                </ion-select>
                            </ion-col>
                            <ion-col>
                                <ion-label multiple="true">
                                    Card Type
                                </ion-label>
                                <ion-select placeholder="Card Type" formControlName="cardTypes">
                                    <ion-select-option *ngFor="let cardType of cardTypes"
                                                       [value]="cardType">{{cardType}}</ion-select-option>
                                </ion-select>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </form>

            </mat-expansion-panel>
            <ion-grid>
                <ion-row>
                    <ion-col [sizeXs]="12" [sizeSm]="12" [sizeMd]="12" [sizeLg]="4" [sizeXl]="4"
                             *ngFor="let card of cards">
                        <app-card-viewer [card]="card"></app-card-viewer>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </mat-drawer-content>
    </mat-drawer-container>


</ion-content>
