<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Card Uploader</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addCard()">Add</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form *ngIf="cardForm" [formGroup]="cardForm">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>General Information</ion-card-title>
                        </ion-card-header>
                        <ion-list>
                            <ion-item>
                                <ion-label>Name</ion-label>
                                <input formControlName="name" type="text"/>
                            </ion-item>
                            <ion-item>
                                <ion-label>Serial #</ion-label>
                                <input formControlName="serialNumber" type="text"/>
                            </ion-item>

                            <ion-item>
                                <ion-label>Cost</ion-label>
                                <input formControlName="cost" type="number"/>
                            </ion-item>

                            <ion-item>
                                <ion-label>Power</ion-label>
                                <input formControlName="powerLevel" type="number"/>
                            </ion-item>

                            <ion-item>
                                <ion-label>Is ExBurst</ion-label>
                                <ion-toggle formControlName="isExBurst"></ion-toggle>
                            </ion-item>

                            <ion-item>
                                <ion-label>Is Multiplay</ion-label>
                                <ion-toggle formControlName="isMultiPlay"></ion-toggle>
                            </ion-item>
                        </ion-list>
                    </ion-card>

                </ion-col>
                <ion-col size="3">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>General Information</ion-card-title>
                        </ion-card-header>
                        <ion-list>
                            <ion-item>
                                <ion-label>Elements</ion-label>
                                <ion-select formControlName="elements" multiple="true"
                                            style="width: 400px; text-align: right">
                                    <ion-select-option *ngFor="let element of elements" [value]="element">
                                        {{element}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>Categories</ion-label>
                                <ion-select formControlName="cardCategories" multiple="true"
                                            style="width: 400px; text-align: right">
                                    <ion-select-option *ngFor="let category of categories" [value]="category">
                                        {{category.name}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>Jobs</ion-label>
                                <ion-select formControlName="jobs" multiple="true"
                                            style="width: 400px; text-align: right">
                                    <ion-select-option *ngFor="let job of jobs" [value]="job">
                                        {{job.name}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>Card Type</ion-label>
                                <ion-select formControlName="cardType">
                                    <ion-select-option *ngFor="let cardType of cardTypes" [value]="cardType">
                                        {{cardType}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>Card Rarity</ion-label>
                                <ion-select formControlName="rarity">
                                    <ion-select-option *ngFor="let rarity of rarities" [value]="rarity">
                                        {{rarity}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label>Character Designer</ion-label>
                                <ion-select formControlName="cardCardDesignerId">
                                    <ion-select-option *ngFor="let designer of designers" [value]="designer.id">
                                        {{designer.name}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </ion-card>
                </ion-col>
                <ion-col size="3">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Effect Text</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                             <textarea formControlName="effectText" type="text"
                                       style="height: 200px; width: 100%"></textarea>
                            <h3>Use the following text ligatures to represent icons</h3>
                            <ion-grid class="fftcg-text-bold">
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-item class="fire-cp">(R) - Fire CP</ion-item>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-item class="ice-cp">(I) - Ice CP</ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-item class="wind-cp">(W) - Wind CP</ion-item>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-item class="water-cp">(Wa) - Water CP</ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-item class="earth-cp">(E) - Earth CP</ion-item>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-item class="lightning-cp">(L) - Lightning</ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-item class="dark-cp">(D) - Dark</ion-item>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-item class="light-cp">(Li) - Light</ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-item>(DULL) - Dull Icon</ion-item>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-item>(S) - Special Icon</ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>


                </ion-col>
                <ion-col size="3">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Card Image</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <input type="file" (change)="onImageChange($event)"/>
                            <img *ngIf="imageSrc" [src]="imageSrc"/>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <ion-row>
        <ion-col size="3">
            <form [formGroup]="cardCategoryForm">
                <ion-card>
                    <ion-header>
                        <ion-title>Card Category Form</ion-title>
                    </ion-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-label>Name:</ion-label>
                                <input type="text" formControlName="name"/>
                            </ion-item>

                        </ion-list>
                        <div>
                            <ion-button (click)="addCategory()" expand="full">Add</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </form>
        </ion-col>
        <ion-col size="3">
            <form [formGroup]="jobForm">
                <ion-card>
                    <ion-header>
                        <ion-title>Job Form</ion-title>
                    </ion-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-label>Name:</ion-label>
                                <input type="text" formControlName="name"/>
                            </ion-item>
                        </ion-list>
                        <div>
                            <ion-button (click)="addJob()" expand="full">Add</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </form>
        </ion-col>
        <ion-col size="3">
            <form [formGroup]="cardDesignerForm">
                <ion-card>
                    <ion-header>
                        <ion-title>Card Designer Form</ion-title>
                    </ion-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-label>Name:</ion-label>
                                <input type="text" formControlName="name"/>
                            </ion-item>
                        </ion-list>
                        <div>
                            <ion-button (click)="addCardDesigner()" expand="full">Add</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </form>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12">
            <h1>Cards</h1>
            <table class="styled-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Serial</th>
                    <th>Element(s)</th>
                    <th>Rarity</th>
                    <th>Cost</th>
                    <th>Power</th>
                    <th>Category(s)</th>
                    <th>Job(s)</th>
                    <th>Card Designer</th>
                    <th>IsMultiPlay</th>
                    <th>IsEXBurst</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let card of cards">

                    <td><img src="{{card.serialNumber | imageUrl | async}}"></td>
                    <td>{{card.name}}</td>
                    <td>{{card.serialNumber}}</td>
                    <td><span *ngFor="let element of card.elements">
                        <img class="crystal" src="../../assets/icon/crystals/{{element}}_Crystal.png"/>
                        {{element}}&nbsp;</span>
                    </td>
                    <td>{{card.rarity}}</td>
                    <td>{{card.cost}}</td>
                    <td>{{card.powerLevel}}</td>
                    <td>
                        <span *ngFor="let item of card.cardCategories.items">{{item.category.name}}&nbsp;</span>
                    </td>
                    <td>
                        <span *ngFor="let item of card.jobs.items">{{item.job.name}}&nbsp;</span>
                    </td>
                    <td>
                        {{card.cardDesigner.name}}
                    </td>
                    <td>
                        <ion-icon *ngIf="card.isMultiPlay" name="checkmark-outline"
                                  class="ion-color-primary" size="large"></ion-icon>
                    </td>
                    <td>
                        <ion-icon *ngIf="card.isExBurst" name="checkmark-outline" class="ion-color-primary"></ion-icon>
                    </td>
                    <td class="ion-text-right">
                        <ion-buttons>
                            <ion-button color="danger" (click)="deleteCard(card)">Delete</ion-button>
                        </ion-buttons>
                    </td>
                </tr>
                </tbody>
            </table>
        </ion-col>
    </ion-row>
</ion-content>
