<ion-header>
    <ion-toolbar>
        <ion-title>Card Uploader</ion-title>
        <ion-buttons slot="end">
            <ion-button>Add</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form *ngIf="cardForm" [formGroup]="cardForm">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-list>
                        <ion-item>
                            <ion-label position="stacked">Serial #</ion-label>
                            <input formControlName="serialNumber" type="text"/>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">Cost</ion-label>
                            <input formControlName="cost" type="number"/>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">Card Type</ion-label>
                            <select formControlName="cardType">
                                <option *ngFor="let cardType of cardTypes" [value]="cardType">
                                    {{cardType}}
                                </option>
                            </select>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">Card Rarity</ion-label>
                            <select formControlName="rarity">
                                <option *ngFor="let rarity of rarities" [value]="rarity">
                                    {{rarity | uppercase}}
                                </option>
                            </select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Card Rarity</ion-label>
                            <select formControlName="rarity">
                                <option *ngFor="let rarity of rarities" [value]="rarity">
                                    {{rarity | uppercase}}
                                </option>
                            </select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Is ExBurst</ion-label>
                            <ion-toggle formControlName="isExBurst"></ion-toggle>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">Is Multiplay</ion-label>
                            <ion-toggle formControlName="isMultiPlay"></ion-toggle>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">Categories</ion-label>
                            <select formControlName="categories" multiple="true" style="width: 400px">
                                <option *ngFor="let category of categories" [value]="category">
                                    {{category | uppercase}}
                                </option>
                            </select>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">Jobs</ion-label>
                            <select formControlName="jobs" multiple="true" style="width: 400px">
                                <option *ngFor="let job of jobs" [value]="job">
                                    {{job | uppercase}}
                                </option>
                            </select>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col size="6">
                    <ion-list>
                        <ion-item>
                            <ion-label position="stacked">Effect Text</ion-label>
                            <textarea formControlName="effectText" type="text"
                                      style="height: 250px; width: 400px;"></textarea>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">Card Image</ion-label>
                            <input type="file" (change)="onImageChange($event)"/>
                        </ion-item>

                        <ion-item *ngIf="imageSrc">
                            <img [src]="imageSrc"/>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <ion-card>
        <ion-header>
            <ion-title>Card Category Form</ion-title>
        </ion-header>
        <ion-card-content>
            <form [formGroup]="cardCategoryForm">
                <ion-list>
                    <ion-label position="stack">Name: </ion-label>
                    <input type="text" formControlName="name"/>
                </ion-list>

                <ion-button (click)="addCategory()">Add</ion-button>
            </form>
        </ion-card-content>
    </ion-card>


</ion-content>
