.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr td img {
  width: 64px;
}

.styled-table tbody tr td img.crystal {
  width: 16px;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.fire-cp {
  color: rgba(189, 93, 72, 1);
}

.earth-cp {
color: rgba(249, 214, 73, 1);
}

.wind-cp {
  color: rgba(84, 183, 120, 1);
}

.water-cp {
  color: rgba(113, 150, 207, 1);
}

.lightning-cp {
  color: rgba(169, 111, 172, 1);
}

.ice-cp {
  color: rgba(114, 196, 240, 1);
}

.dark-cp {
  color: rgba(145, 145, 145, 1);
}

.light-cp {
  color: rgba(230, 230, 230, 1);
}

.fftcg-text-bold ion-item {
  font-weight: bold;
}
