<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onMenuClick()"><ion-icon name="menu"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Card Browser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let card of cards">
        <app-card-viewer [card]="card"></app-card-viewer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
