<ion-header>
  <ion-toolbar>
    <ion-title>FFTCG Game Lobby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col [offset]="11" size="1">
        <ion-button (click)="createGame()">
          New Game
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" *ngFor="let game of games">
       <ion-card >
         <ion-card-header>
           <ion-card-title>{{game.game_name}}</ion-card-title>
         </ion-card-header>
         <ion-card-content class="ion-text-center">
           <h2>Player 1</h2>
           <h4>vs</h4>
           <h3>Player 2</h3>
         </ion-card-content>
         <ion-card-header>
           <ion-button expand="full">Join</ion-button>
         </ion-card-header>
       </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
