<ion-header>
    <ion-toolbar color="dark">
        <ion-title>FFTCG Online</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="6" offset="3">
                <a routerLink="/login" *ngIf="!isLoggedIn">Login</a>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="isLoggedIn">
            <ion-col size="6" offset="3">
                <ion-card>
                    <ion-list>
                        <ion-item (click)="goTo('card-uploader')" detail="true">
                            <ion-label>
                                Card Uploader
                            </ion-label>
                        </ion-item>
                        <ion-item (click)="goTo('game')" detail="true">
                            <ion-label>
                                Game
                            </ion-label>
                        </ion-item>
                        <ion-item (click)="goTo('game-lobby')" detail="true">
                            <ion-label>
                                Game Lobby
                            </ion-label>
                        </ion-item>
                        <ion-item (click)="logout()" color="danger">
                            <ion-label>
                                Logout
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
